cecoda/nodered/ttnflow.json
[{"id":"4c44c489.3edde4","type":"tab","label":"TTN-Node","disabled":false,"info":""},{"id":"c42d06a.af3c178","type":"ttn uplink","z":"4c44c489.3edde4","name":"zhumi-std31","app":"1222413d.743e17","dev_id":"zhumi-std31","field":"","x":90,"y":100,"wires":[["6a69704d.0df26","64e096db.184878"]]},{"id":"16ab9596.374fca","type":"debug","z":"4c44c489.3edde4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":400,"wires":[]},{"id":"81b6b1ac.be57f","type":"ttn uplink","z":"4c44c489.3edde4","name":"zhumi-std24b","app":"b54ce7e3.314c8","dev_id":"zhumi-std24b","field":"","x":90,"y":240,"wires":[["9e19dc10.c2f008"]]},{"id":"407d17db.417448","type":"ttn uplink","z":"4c44c489.3edde4","name":"ztemp-std08","app":"eef88330.bd50a","dev_id":"ztemp-std08","field":"","x":90,"y":400,"wires":[["16ab9596.374fca"]]},{"id":"4d8fad81.b365ac","type":"ui_gauge","z":"4c44c489.3edde4","name":"","group":"8a56e4e2.3cac38","order":1,"width":0,"height":0,"gtype":"gage","title":"zhumi-std31-temp","label":"ºC","format":"{{value | number:1 }}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":530,"y":100,"wires":[]},{"id":"6a69704d.0df26","type":"function","z":"4c44c489.3edde4","name":"temperatura","func":"msg = { payload: msg.payload.temperature};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["4d8fad81.b365ac"]]},{"id":"64e096db.184878","type":"function","z":"4c44c489.3edde4","name":"humidity","func":"msg = { payload: msg.payload.humidity};\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["67aa9f82.d4ab7"]]},{"id":"67aa9f82.d4ab7","type":"ui_gauge","z":"4c44c489.3edde4","name":"","group":"8a56e4e2.3cac38","order":2,"width":0,"height":0,"gtype":"gage","title":"zhumi-std31-humi","label":"Humidity","format":"{{value | number: 1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"80","x":530,"y":140,"wires":[]},{"id":"9e19dc10.c2f008","type":"function","z":"4c44c489.3edde4","name":"temperature","func":"msg = { payload: msg.payload.temperature};\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":240,"wires":[["2db14dba.e4c34a","ef27b5b0.90ff68","c2bc905c.25b4d8"]]},{"id":"2db14dba.e4c34a","type":"ui_gauge","z":"4c44c489.3edde4","name":"","group":"c59ea491.2b7508","order":1,"width":0,"height":0,"gtype":"gage","title":"zhumi-std24-temp","label":"ºC","format":"{{value | number:1}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":550,"y":240,"wires":[]},{"id":"ef27b5b0.90ff68","type":"ui_chart","z":"4c44c489.3edde4","name":"","group":"c59ea491.2b7508","order":2,"width":0,"height":0,"label":"zhumi-std24-temp","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":280,"wires":[[]]},{"id":"c2bc905c.25b4d8","type":"switch","z":"4c44c489.3edde4","name":">20","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":320,"wires":[["50de26.453d41dc"]]},{"id":"50de26.453d41dc","type":"ui_toast","z":"4c44c489.3edde4","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":550,"y":320,"wires":[]},{"id":"290bf0a9.cd85a","type":"comment","z":"4c44c489.3edde4","name":"Node TTN","info":"Ejemplo con el componente TTN instalado en los videos.","x":80,"y":40,"wires":[]},{"id":"1222413d.743e17","type":"ttn app","z":"","appId":"cecoda-std31","accessKey":"ttn-account-v2.fKyDXcXgtOukPNFadVxr_a_rDXY2AI41tAx-hoZSInA","discovery":"discovery.thethingsnetwork.org"},{"id":"b54ce7e3.314c8","type":"ttn app","z":"","appId":"cecoda-std24","accessKey":"ttn-account-v2.OyoXPUYINvm27t0h-70fGHkaktQ055bvzd4DkakF9LY","discovery":"discovery.thethingsnetwork.org"},{"id":"eef88330.bd50a","type":"ttn app","z":"","appId":"cecoda-std08","accessKey":"ttn-account-v2.4kAjUOdGwKg_ZMVCVl0uuKlaSvoaMmmvS6rpCVGXXDc","discovery":"discovery.thethingsnetwork.org"},{"id":"8a56e4e2.3cac38","type":"ui_group","z":"","name":"Grupo 01","tab":"8bc33582.19bb2","order":1,"disp":false,"width":"6","collapse":false},{"id":"c59ea491.2b7508","type":"ui_group","z":"","name":"Group 2","tab":"8bc33582.19bb2","order":2,"disp":false,"width":"6","collapse":false},{"id":"8bc33582.19bb2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]